html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  height: 100%;
  border: 5px solid rgb(213, 237, 238);
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {
  float: center ;
  }

#bio {
  float: right;
}
#bio > li {
  padding: 10px;
  margin: auto;
}

#pro {
  width: auto;
}

@media all and (max-width: 500px) {
  body {
    color: blue;
  }
}

@media screen and (max-width: 480px) {
  img {
    width: 300px;
  }
}

/* @media print {
  .flex > * {
    border: 10px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 736px) {
  STYLES GO HERE
} */
